.App {
  text-align: center;
  color: #476040;
  font-family: 'Spartan', sans-serif;
}


footer{

  bottom: 0;
  }




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');